.about-hdr .cont-img {
    position: relative;
    text-align: center;
    height: 380px;
    background-image: url(../../assets/img/About_us/about-hdr.png);
    background-attachment: fixed;
    background-position: center
}

.about-hdr .cont-img:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    opacity: .7
}

.about-hdr img {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed
}

.main-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 1
}

/*About us content*/
.about-cont {
    padding: 40px 0 60px
}

.about-cont .about-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    margin-bottom: 60px
}

.about-cont .about-title:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    background-image: url(../../assets/img/About_us/seprator.png);
    width: 100%;
    background-position: center;
    height: 5px;
    background-repeat: no-repeat;
}

.about-cont .cont-txt {
    display: flex;
    align-items: center;
    height: 100%;
}

.about-cont .cont-img {
    height: 230px;
    margin-bottom: 30px
}

.about-cont .cont-img img {
    height: 100%;
    width: auto;
    margin-left: auto;
    display: block
}

.about-cont .cont-img:nth-of-type(even) img {}

.about-cont .cont-txt .cont-p {
    font-size: 16px;
    color: #333
}

/*vision Section*/

.vision-sec {
    background-color: #f5f5f5;
    padding: 60px 0
}

.vision-sec .cont-txt {
    margin-bottom: 40px
}

.vision-sec .vis-title {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px
}

.vision-sec .cont-txt .vis-txt {
    font-size: 16px;
    color: #333
}

.vision-sec .acc-cont .card-header,
.vision-sec .acc-cont .card {
    border: none;
    background: none;
    outline: none
}

.vision-sec .acc-cont .card-header {
    padding-left: 0;
}

.vision-sec .acc-cont .card-header .btn {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px
}

.vision-sec .acc-cont .card-header .btn i {
    color: #39b54a;
    margin-right: 15px;
}

.vision-sec .acc-cont .card-body {
    font-size: 16px;
    color: #000;
    padding: 0 50px 30px
}

/*Discover Section*/
.discover-sec {
    position: relative;
    overflow: hidden
}

.discover-sec .cont-img {
    height: 190px;
    position: relative
}

.discover-sec .discover-bg {
    height: 100%;
    width: 100%;
}

.discover-sec .cont-img:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .6
}

.discover-sec .cont-img .discover-txt {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 26px;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 1;
    margin: auto
}

#canvas,
#text {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Services section */
.srvcs-sec {
    padding: 90px 0;
    background-color: #eaf0f6;
}

.srvcs-sec .srvcs-cont {
    display: flex;
    flex-wrap: wrap;
}

.srvcs-sec .srvcs-cont .srvc-desc {
    width: 32%;
    margin: 0 2% 2rem 0;
}

.srvcs-sec .srvcs-cont .srvc-desc .desc-title {
    font-size: 1.8rem;
    line-height: 1.3125em;
    margin-bottom: 30px;
    font-weight: bold;
    color: #33475b
}

.srvcs-sec .srvcs-cont .srvc-desc .desc-txt {
    font-size: 20px;
    line-height: 1.5em;
}

.srvcs-sec .srvcs-cont .srvc-card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: .1875rem;
    transition: 0.3s ease-in-out;
    position: relative;
    display: flex;
    padding: 1rem;
    box-shadow: 0 0 11px #eaf0f6;
    width: 100%;
    width: 31%;
    padding: 2rem;
    margin-right: 2%;
    flex-direction: column;
}

.srvcs-sec .srvcs-cont .srvc-card:hover {
    box-shadow: 0px 0px 8px #00000029;
}

.srvcs-sec .srvcs-cont .srvc-card:nth-of-type(4),
.srvcs-sec .srvcs-cont .srvc-card:nth-of-type(5) {
    width: 48%
}

.srvcs-sec .srvcs-cont .srvc-card .srvc-title {
    font-size: 18px;
    color: #33475b;
    position: relative;
    padding-left: 40px
}
.srvcs-sec .srvcs-cont .srvc-card .srvc-title:before {
    content: '•';
    position: absolute;
    text-align: center;
    font-size: 54px;
    left: -2px;
    line-height: 15px;
    color: orange;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 5px solid #33475b;
}

.srvcs-sec .srvcs-cont .srvc-card .srvc-txt {
    font-size: 16px;
    color: #33475b
}
