:root {
    /* ******************************************************************* */
    /* Font variables */
    /* ******************************************************************* */
    --aileron: 'Aileron';
    --tajawal: 'Tajawal';
    --din: 'DIN NEXTTM ARABIC';
    --shamel: 'FF Shamel Family Sans One';
    /* ******************************************************************* */
    /* color variables */
    /* ******************************************************************* */
}