@media only screen and (max-width: 576px) {
    .dynamic-align-xs-center {
        text-align: center;
    }
    .dynamic-xs-align:lang(en) {
        text-align: left;
    }
    .dynamic-xs-align:lang(ar) {
        text-align: right;
    }
}

@media only screen and (min-width: 576px) {
    .dynamic-align-sm-center {
        text-align: center;
    }
    .dynamic-sm-align:lang(en) {
        text-align: left;
    }
    .dynamic-sm-align:lang(ar) {
        text-align: right;
    }
}

@media only screen and (min-width: 768px) {
    .dynamic-align-md-center {
        text-align: center;
    }
    .dynamic-md-align:lang(en) {
        text-align: left;
    }
    .dynamic-md-align:lang(ar) {
        text-align: right;
    }
}

@media only screen and (min-width: 992px) {
    .dynamic-align-lg-center {
        text-align: center;
    }
    .dynamic-lg-align:lang(en) {
        text-align: left;
    }
    .dynamic-lg-align:lang(ar) {
        text-align: right;
    }
}

@media only screen and (min-width: 1200px) {
    .dynamic-align-xl-center {
        text-align: center;
    }
    .dynamic-xl-align:lang(en) {
        text-align: left;
    }
    .dynamic-xl-align:lang(ar) {
        text-align: right;
    }
}