:root {
    /* ******************************************************************* */
    /* Font variables */
    /* ******************************************************************* */
    --aileron: 'Aileron';
    --tajawal: 'Tajawal';
    --din: 'DIN NEXTTM ARABIC';
    --shamel: 'FF Shamel Family Sans One';
    /* ******************************************************************* */
    /* color variables */
    /* ******************************************************************* */
    --borderColor: #efefef;
    --cardBorderColor: #e6e8e7;
    --inputBackColor: #f9f9f9;
    --actionBackColor: #00d66c;
    --actionHoverBackColor: #28e084;
    --blackTextHoverColor: rgb(66, 66, 66);
    --footerBackColor: #00150b;
    --whiteHoverColor: rgb(209, 202, 202);
    --cardTitleColor: #00d66c;
    --starFillColor: #FFD800;
    --goldColor: #FFD700;
    --blueColor: #08206b;
}

* {
    direction: ltr;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.action-link {
    width: 150px !important;
    height: 50px !important;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--actionBackColor);
    color: white;
    border-radius: 4px;
}

.action-link:hover {
    text-decoration: none;
    background-color: var(--actionHoverBackColor);
    color: white;
}

.thin-vertical-line {
    width: 1px;
    height: 30px;
    background-color: var(--borderColor);
}

.medium-vertical-line {
    width: 2px;
    height: 30px;
    background-color: var(--borderColor);
}

.bold-vertical-line {
    width: 3px;
    height: 30px;
    background-color: var(--borderColor);
}

.bg-action {
    background-color: var(--actionBackColor);
}

.text-gold {
    color: var(--goldColor) !important;
}

.text-blue {
    color: var(--blueColor) !important;
}

.text-transparent {
    color: transparent !important;
}

.block-wrap-container {
    width: fit-content;
}

.inline-wrap-container {
    width: fit-content;
    display: inline;
}

.dynamic-align:lang(en) {
    text-align: left;
}

.dynamic-align:lang(ar) {
    text-align: right;
}

.dynamic-align-center {
    text-align: center;
}

/* Styles for bootstrap forms */

.form-check-input {
    margin-top: 0.4em;
}

.form-check-label:lang(ar) {
    margin-right: 20px !important;
}

/* End of bootstrap forms styles */