@media only screen and (max-width:600px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 390px;
        max-height: 390px;
    }
    .course-card .course-card-text {
        height: 80px;
        max-height: 80px;
        overflow: auto;
    }
    /* End of course card styles */
    /* Start of slider course card styles */
    .slider-course-card {
        width: 100%;
        height: 395px;
        max-height: 395px;
    }
    .slider-course-card .course-card-title {
        height: 60px;
        max-height: 60px;
    }
    .slider-course-card .course-card-text {
        height: 80px;
        max-height: 80px;
        overflow: auto;
    }
    /* End of slider course card styles */
}

@media only screen and (max-width:340px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 380px;
        max-height: 380px;
    }
    .course-card .course-card-text {
        height: 95px;
        max-height: 95px;
        overflow: auto;
    }
    /* End of course card styles */
}

@media only screen and (min-width:600px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 385px;
        max-height: 385px;
    }
    .course-card .course-card-text {
        height: 90px;
        max-height: 90px;
        overflow: auto;
    }
    .course-card .course-card-title {
        height: 45px;
        max-height: 45px;
    }
    /* End of course card styles */
}

@media only screen and (min-width:768px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 360px;
        max-height: 360px;
    }
    .course-card .course-card-text {
        height: 75px;
        max-height: 75px;
        overflow: auto;
    }
    .course-card .course-card-title {
        height: 30px;
        max-height: 30px;
    }
    /* End of course card styles */
}

@media only screen and (min-width:992px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 370px;
        max-height: 370px;
    }
    .course-card .course-card-title {
        height: 45px;
        max-height: 45px;
    }
    .course-card .course-card-text {
        height: 90px;
        max-height: 90px;
        overflow: auto;
    }
    /* End of course card styles */
}

@media only screen and (min-width:1200px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 370px;
        max-height: 370px;
    }
    .course-card .course-card-text {
        height: 90px;
        max-height: 90px;
        overflow: auto;
    }
    /* End of course card styles */
    /* Start of slider course card styles */
    .slider-course-card {
        width: 100%;
        height: 375px;
        max-height: 375px;
    }
    .slider-course-card .course-card-title {
        height: 50px;
        max-height: 50px;
        overflow: auto;
    }
    /* End of slider course card styles */
}

@media only screen and (min-width:1400px) {
    /* Start of course card styles */
    .course-card {
        width: 100%;
        height: 370px;
        max-height: 370px;
    }
    .course-card .course-card-text {
        height: 70px;
        max-height: 70px;
        overflow: auto;
    }
    /* End of course card styles */
    /* Start of course card styles */
    .slider-course-card {
        width: 100%;
        height: 370px;
        max-height: 370px;
    }
    /* End of course card styles */
}