/*General style*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 17px;
    height: 20px;
    width: 85px;
    margin: 0 10px;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
    line-height: 20px;
    letter-spacing: 4px;
}

.star-ratings-css::before {
    content: '★★★★★';
    opacity: .3;
}

.star-ratings-css::after {
    color: rgb(255, 170, 0);
    content: "★★★★★";
    text-shadow: rgb(255, 170, 0) 0px 1px 0px;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.sec-title {
    font-family: Aileron;
    font-size: 32px;
    font-weight: bold;
    color: #08206b;
    line-height: 38px;
    text-align: center
}

.sec-txt {
    color: #8a8a8e;
    font-size: 24px;
    text-align: center;
    line-height: 1.42;
    width: 77%;
    margin: 0 auto 30px;
}

/*Animations */
@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Navbar */
#main-header .content-dropdown.mega-dropdown::after,
#main-header .content-dropdown.mega-dropdown::before {
    left: 5%;
}

#main-header .mega-dropdown {
    width: 1150px;
    flex-direction: row;
    margin-top: 15px;
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px
}

.mega-dropdown .megamenu {
    list-style: none;
    padding: 10px;
    display: inline-block;
    position: relative;
    padding: 32px 0 5px 30px;
}

.mega-dropdown .megamenu:not(:last-of-type) .menu-item:first-of-type {
    margin: 0 0 12px 0;
    font-family: Aileron;
    font-size: 16px;
    font-weight: bold;
    color: #00d66c;
}

.mega-dropdown .megamenu .menu-item {
    width: 100%;
}

.mega-dropdown .megamenu .menu-item a {
    font-size: 14px;
    color: #00150b;
    line-height: 1.21;
    margin: 8px 30px 6px 0;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    transition: .1s ease-in-out;
    font-family: Aileron;
    font-weight: normal;
}

.mega-dropdown .megamenu .menu-item a:hover {
    color: #00d66c;
}

.mega-dropdown .megamenu .menu-item a > img {
    max-width: 143px;
    max-height: 85px;
    display: block;
    margin-bottom: 5px
}

.mega-dropdown .last-megamenu {
    position: relative;
    overflow: hidden;
    padding: 20px 30px
}

.mega-dropdown .last-megamenu {
    padding-left: 32px;
    list-style: none;
    position: relative
}

.mega-dropdown .last-megamenu .menu-item {
    position: relative;
}

.mega-dropdown .last-megamenu:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 200%;
    border-left: 1px solid #e3e3e3;
    left: 0;
    right: auto;
    top: -50%;
    bottom: 0
}

.mega-dropdown .last-megamenu a i {
    position: absolute;
    right: 0;
    font-size: 75%;
    line-height: 18px
}

.mega-dropdown .last-megamenu a {
    font-size: 16px;
    color: #00150b;
    line-height: 1.21;
    margin: 8px 30px 6px 0;
    width: 100%;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    transition: .1s ease-in-out;
    font-family: Aileron;
}

.mega-dropdown .last-megamenu a:hover {
    color: #00d66c;
}

/* Main header section */

.main-hdr {
    height: 91vh;
    object-fit: cover;
    position: relative;
}

.main-hdr:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(to right, #04140c 0%, rgba(31, 46, 39, 0.89) 12%, rgba(244, 244, 244, 0) 100%, #ffffff 100%);
}

.main-hdr .main-hdr-img {
    width: 100%;
    height: 100%
}

.main-hdr .cont-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: auto;
    margin: auto;
    height: fit-content;
    z-index: 1
}

.main-hdr .cont-txt .main-title {
    font-size: 42px;
    line-height: 1.21;
    color: #ffffff;
    font-family: Aileron;
}

.main-hdr .cont-txt .main-txt {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 84%;
}

.main-hdr .cont-txt .join-btn {
    margin: 29px 0 0;
    padding: 14px 52px 13px;
    border-radius: 4px;
    background-color: #00d66c;
    color: #fff;
    display: inline-block;
}

.main-hdr .scroll-btm {
    position: absolute;
    bottom: 26px;
    top: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: center;
    color: #fff;
    margin: auto;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
    z-index: 1
}

.main-hdr .scroll-btm i {
    text-shadow: 1px 1px 5px rgba(4, 20, 12, 0.44);
}

/* Services Section */

.srvcs-sec {
    padding: 28px 0 17px
}

.srvcs-sec .srvcs-title {
    font-size: 24px;
    color: #00150b;
    font-weight: bold;
    margin-bottom: 24px
}

.srvcs-sec .row {
    margin-right: -7px;
    margin-left: -7px;
}

.srvcs-sec .row > * {
    padding-right: 8px;
    padding-left: 8px;
}

.srvcs-sec .card {
    margin-bottom: 30px
}

.srvcs-sec .tab-txt {
    color: #8a8a8e;
    font-size: 24px;
    text-align: center;
    line-height: 1.42;
    width: 77%;
    margin: 0 auto 30px;
}

.srvcs-sec .nav-tabs {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
    margin-bottom: 27px;
    margin-top: 25px
}

.srvcs-sec .nav-tab {
    display: inline-block;
    margin: auto;
    border: none;
}

.srvcs-sec .nav-tab li {
    border: none;
    outline: none
}

.srvcs-sec .nav-tab a {
    color: #808a85;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.46;
    border: none
}

.srvcs-sec .nav-tab a.active {
    color: #00d66c;
    border-bottom: 2px solid #00d66c;
    outline: none
}

.srvcs-sec .img-cont {
    height: 165px;
    position: relative
}

.srvcs-sec .img-cont:after {
    content: '';
    background: linear-gradient(#adadad5c, #adadad5c, #000000 99%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%
}

.srvcs-sec .img-cont .cat-tag {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #08206b;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 4px 8px;
    z-index: 2
}

.srvcs-sec .img-cont .like-btn {
    background-color: #fff;
    border-radius: 50%;
    color: red;
    font-size: 14px;
    position: absolute;
    text-align: center;
    right: 10px;
    top: 10px;
    z-index: 2;
    transition: .2s ease-in-out;
    height: 27px;
    width: 27px;
    padding: 7px 0;
    cursor: pointer
}

.srvcs-sec .img-cont .like-btn:hover {
    background-color: red;
    color: #fff
}

.srvcs-sec .img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.srvcs-sec .card {
    border: none
}

.srvcs-sec .card-body {
    padding: 8px 8px 13px;
    border: solid 1px #e6e8e7;
}

.srvcs-sec .card-title {
    color: #00d66c;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
}

.srvcs-sec .writer-nm {
    font-size: 12px;
    line-height: 23px;
    color: #08206b;
    margin-bottom: 8px
}

.srvcs-sec .writer-nm i {
    color: #333;
    margin-right: 5px
}

.srvcs-sec .card-text {
    color: #808a85;
    font-size: 14px;
    line-height: 21px
}

.srvcs-sec .star-ratings-css {
    margin: 0;
    margin-right: 5px
}

.srvcs-sec .rating-nmbr {
    color: #b3b9b6;
    font-size: 14px;
    line-height: 23px
}

/* Slider Section */
.sldr-sec {
    height: 560px;
    position: relative;
}

.sldr-sec:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #04140c 0%, rgba(31, 46, 39, 0.89) 48%, rgba(66, 79, 73, 0.74) 70%, rgba(244, 244, 244, 0) 100%, #ffffff 100%);
}

.sldr-sec .sldr-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.sldr-sec .home-sldr,
.sldr-sec .owl-stage,
.sldr-sec .owl-stage-outer,
.sldr-sec .owl-item {
    height: 100%
}

.sldr-sec .home-sldr .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.sldr-sec .home-sldr .owl-dot {
    background-color: #fff !important;
}

.sldr-sec .home-sldr .owl-dot.active {
    background-color: #00d66c !important;
}

.sldr-sec .home-sldr .owl-nav i {
    color: #00d66c !important;
    line-height: 20px
}

.sldr-sec .home-sldr .owl-nav button {
    top: auto;
    bottom: 37px;
    background-color: unset !important;
    z-index: 1;
}

.sldr-sec .home-sldr .owl-nav .owl-prev {
    left: 44%;
}

.sldr-sec .home-sldr .owl-nav .owl-next {
    right: 44%;
}

.sldr-sec .item {
    width: 100%;
    height: 100%
}

.sldr-sec .item img {
    display: block;
    width: 100%;
    height: auto;
}

.sldr-sec .cont-txt {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: 10px;
    transform: translateY(-50%);
}

.sldr-sec .cont-txt .cont-cat {
    background-color: #08206b;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}

.sldr-sec .cont-txt .cont-title {
    font-family: Aileron;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.19;
    color: #00d66c;
    margin: 22px 0 17px;
}

.sldr-sec .cont-txt .cont-p {
    margin: 17px 0 8px 0;
    font-family: Aileron;
    font-size: 24px;
    line-height: 1.21;
    color: #ffffff;
}

.sldr-sec .cont-txt .join-btn {
    margin: 30px 358px 88px 0;
    padding: 14px 44px 13px;
    display: inline-block;
    border-radius: 4px;
    background-color: #00d66c;
    color: #fff;
    text-decoration: none
}

/*Memebers section*/
.members-sec {
    padding: 41px 0 104px;
    text-align: center
}

.members-sec .sec-title {
    color: #111111;
}

.members-sec .cont-img {
    height: 257px;
    padding: 32px 0;
    border-radius: 2px;
    border: solid 1px #dcdcdd;
    background-color: #ffffff;
    object-fit: cover;
    position: relative
}

.members-sec .cont-img img {
    width: auto;
    height: auto;
    max-width: 92%;
    margin: auto;
    display: block;
    max-height: 121px;
    object-fit: cover;
}

.members-sec .cont-img .com-name {
    margin: 72px 0 0;
    font-family: Tajawal;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    color: #111111;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}

.members-sec .cont-img .com-name span {
    display: block;
    font-size: 20px;
    color: #111111;
    padding: 0 15px
}

/*App section */
.app-sec {
    background-color: #F0F0F0;
}

.app-sec .app-img {
    padding-top: 20px;
    height: 100%;
    width: auto;
    object-fit: cover
}

.app-sec .cont-txt {
    display: table
}

.app-sec .cntr-txt {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #e6e7e9;
    padding: 64px 20px
}

.app-sec .cont-txt .cont-title {
    font-size: 32px;
    color: #111111;
    line-height: 1.19;
}

.app-sec .cont-txt .cont-p {
    font-size: 24px;
    color: #8a8a8e;
    line-height: 1.21;
}

.app-sec .cont-txt .store-lnk {
    padding: 0 13px;
    margin: 110px 16px 60px 0;
    display: inline-block;
    border-radius: 4px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    line-height: 2.38;
    font-weight: 500;
}

/* Small devices responsive */
@media screen and (max-width:765px) {
    .main-hdr .cont-txt {
        margin-left: 30px;
    }

    .sldr-sec {
        height: 100vh;
    }

    .sldr-sec .cont-txt {
        top: 44%;
        left: 22px;
        right: 0;
        padding-right: 30px;
    }

    .app-sec .app-img {
        width: 100%;
    }

    .sldr-sec .owl-carousel.owl-drag .owl-item {
        overflow: hidden
    }

    .sldr-sec .home-sldr .owl-nav .owl-next {
        right: 20%;
    }

    .sldr-sec .home-sldr .owl-nav .owl-prev {
        left: 20%;
    }

    .sldr-sec .cont-txt .join-btn {
        text-align: center;
        width: 100%
    }

    .members-sec .cont-img {
        margin-bottom: 30px
    }

    .members-sec {
        padding: 41px 0;
    }

    .app-sec .cont-txt .store-lnk {
        margin: 50px 16px 0 0;
    }
}
