:is(.learning-path-section, .courses-categories-section) .header {
    font-size: 20px;
    font-weight: 700;
}

.course-progress-card {
    height: 330px;
    max-height: 330px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    overflow: hidden;
}

.course-progress-card .img {
    position: relative;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
}

.course-progress-card .img img {
    width: 100%;
    height: auto;
    min-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.4s;
}

.course-progress-card .img img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.course-progress-card .body {
    padding: 15px;
    font-size: 16px;
}

.course-progress-card .body :is(.title, .introducer) {
    margin-bottom: 8px;
    overflow: hidden;
}

.course-progress-card .body .title {
    display: -webkit-box;
    display: -moz-box;
    text-overflow: ellipsis;
    line-height: 21px;
    height: 48px;
    max-height: 48px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    color: var(--actionBackColor);
}

.course-progress-card .body .introducer i {
    font-size: 14px;
}

.course-progress-card .body .introducer a {
    color: var(--blueColor);
    font-size: 14px;
}

.course-progress-card .body .lecture-num {
    margin-top: 15px;
    margin-bottom: 3px;
    color: var(--actionBackColor);
}

.course-progress-card .body :is(.title a, .lecture-num a) {
    color: var(--actionBackColor);
    font-size: 14px;
    font-weight: 600;
}

.course-progress-card .body :is(.progress-info, .progress-bar-container) {
    margin-bottom: 4px;
}

.course-progress-card .body .progress-info :is(a, p) {
    font-size: 12px;
    color: #000;
    font-weight: 700;
}

.course-progress-card .progress-bar-container {
    height: 5px;
}

.course-progress-card .course-category {
    position: absolute;
    left: 5%;
    top: 5%;
    color: #fff;
    padding: 0.225rem;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
}

.course-progress-card .course-category .label {
    background-color: var(--blueColor);
    padding: 0.325rem;
    border-radius: 5px;
}

.course-progress-card .course-category .academy {
    background-color: #ff0f0f;
    padding: 0.225rem;
    border-radius: 5px;
    margin-top: 3px;
}

.course-progress-card .card-fav-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #ff0f0f;
    background-color: #fff;
    padding: 0.325rem;
    border-radius: 50%;
    font-size: 24px;
}

/* ********************************************************************************************* */

.course-category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--borderColor);
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
}

.course-category-item a {
    display: block;
    width: 100%;
    color: var(--blueColor);
    text-align: center;
    padding: 0.825rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.course-category-item:hover {
    cursor: pointer;
    background-color: var(--actionBackColor);
}

.course-category-item:hover a {
    text-decoration: none;
    color: #fff;
}

/* ********************************************************************************************** */

.course-tabs .course-tab a {
    color: #000;
    font-weight: 600;
    transition: all 0.4s;
}

.course-tabs .course-tab :is(.active) {
    color: var(--actionBackColor);
    font-weight: 700;
    border: none;
    border-bottom: 1px solid var(--actionBackColor);
}

/* ********************************************************************************************* */

@media only screen and (max-width:576px) {}

@media only screen and (max-width:500px) {
    :is(.learning-path-section, .courses-categories-section, .recommended-section) {
        padding: 0 4rem;
    }
}

@media only screen and (max-width:414px) {
    :is(.learning-path-section, .courses-categories-section, .recommended-section) {
        padding: 0 3rem;
    }
}

@media only screen and (max-width:375px) {
    :is(.learning-path-section, .courses-categories-section, .recommended-section) {
        padding: 0 2.5rem;
    }
}

@media only screen and (max-width:350px) {
    :is(.learning-path-section, .courses-categories-section, .recommended-section) {
        padding: 0 2rem;
    }
}

@media only screen and (max-width:320px) {
    :is(.learning-path-section, .courses-categories-section, .recommended-section) {
        padding: 0 0.625rem;
    }
}