@media only screen and (max-width: 600px) {
    .main-header-img-container img {
        width: 30px;
        height: auto;
    }
    .action-link {
        width: 70px !important;
        height: 35px !important;
        line-height: 35px;
        font-size: 0.6rem;
    }
    .user-profile-img img {
        width: 35px;
        height: 35px;
    }
    #user-data-container .far {
        font-size: 17px;
    }
    #main-header .notification-content-dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #main-header .wishlist-content-dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #main-header .learning-content-dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media only screen and (min-width: 600px) {
    .action-link {
        width: 90px !important;
    }
    .search-form-container input {
        font-size: 0.6rem !important;
        padding: 10px !important;
    }
    .user-profile-img img {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .action-link {
        width: 120px !important;
    }
    .user-profile-img img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    #main-header .explore-container {
        font-size: 12px;
    }
    .not-member-link {
        font-size: 13px;
    }
    .action-link {
        width: 130px !important;
    }
}

@media only screen and (min-width: 1300px) {
    #main-header .explore-container {
        font-size: 14px;
    }
    .not-member-link {
        font-size: 14px;
    }
    .action-link {
        width: 150px !important;
    }
}