/* Start of header styles */

#main-header {
    font-family: var(--aileron);
    border-bottom: 1px solid var(--borderColor);
}

.main-header-img-container img {
    width: 62px;
    height: 52px;
}

#main-header .explore-container {
    font-size: 14px;
    font-weight: 700;
}

#main-header .explore-container:hover {
    cursor: pointer;
    color: var(--blackTextHoverColor);
}

.search-form-container {
    width: 100%;
}

.search-form-container input {
    font-family: 'FontAwesome', var(--aileron);
    font-size: 0.7rem !important;
    padding: 12px !important;
    background-color: var(--inputBackColor);
}

.not-member-link {
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.not-member-link:hover {
    text-decoration: none;
    color: var(--blackTextHoverColor);
}

.sidebar-toggler {
    font-size: 26px;
    color: var(--actionBackColor);
}

.sidebar-toggler:hover {
    cursor: pointer;
    font-size: 25px;
    color: var(--blackTextHoverColor);
}

/* End of header styles */

/* Start of footer styles */

#footer {
    background-color: var(--footerBackColor);
    color: white;
}

.footer-section-title {
    font-size: 24px;
    font-weight: 700;
}

.footer-section-text {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
}

.footer-section-subtitle {
    font-size: 18px;
    font-weight: 600;
}

.footer-icon-link {
    font-size: 16px;
    color: white;
}

.footer-icon-link:hover {
    font-size: 17px;
    color: var(--whiteHoverColor);
    text-decoration: none;
}

.footer-section-links {
    padding: 10px 0;
}

.footer-link {
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: white;
    padding: 2px 0;
}

.footer-link:hover {
    color: var(--whiteHoverColor);
    text-decoration: none;
}

.footer-language-link:hover {
    cursor: pointer;
    color: var(--whiteHoverColor);
}

.footer-container {
    width: fit-content;
    margin: auto;
}

.footer-section-images img {
    width: 80px;
    height: auto;
}

/* End of footer styles */