/*.owl-stage-outer {*/

/*direction: ltr;*/

/*}*/

.owl-dots {
    text-align: center;
}

.owl-dot {
    width: 10px;
    height: 10px;
    border: 2px solid purple;
    border-radius: 50%;
    outline: none !important;
    transition: all 0.4s ease;
    background-color: var(--actionBackColor) !important;
    margin: 0 3px;
}

.owl-dot:active {
    background-color: green !important;
}

.owl-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--actionBackColor) !important;
    position: absolute;
    top: 20%;
    left: 0;
    margin-left: -20px;
    display: block !important;
    outline: none !important;
}

.owl-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--actionBackColor) !important;
    position: absolute;
    top: 20%;
    right: 0;
    margin-right: -20px;
    display: block !important;
    outline: none !important;
}

.owl-prev i, .owl-next i {
    color: white;
}

@media only screen and (max-width:600px) {
    .owl-prev {
        left: 3%;
    }
    .owl-next {
        right: 3%;
    }
}